*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DDDDDD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 90%;
  margin: 50px auto 0;
}
.image {
  width: 90%;
  margin: auto;
  max-width: 400px;
}
.one, .three {
  color: #240D57;
  font-family: 'Helvetica';
  font-style: normal;
  line-height: 64px;
  font-weight: 700;
  font-size: 64px;
}
.two {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
  font-size: 24px;
  margin-top: 10px;
}
.btn {
  background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
  border-radius: 10px;
  width: 320px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
}
.btn:hover, .sm-btn:hover {
  transform: scale(0.9);
}


/* create styles */
.create-page {
  margin-top: 30px;
  font-size: 24px;
}
.event-header {
  margin-top: 50px;
}
.form-group {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  background-color: #DDDDDD;
  width: 80%;
  max-width: 1000px;
}
.btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px auto;
}



/* event styles */
.img {
  width: 100%;
  max-width: 600px;
}
.event-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  max-width: 100%;
  width: 80%;
  margin: 100px auto;
}
.text-content h2 {
  font-family: 'Helvetica';
  font-style: normal;
  line-height: 64px;
  font-weight: 700;
  font-size: 64px;
  margin-top: 20px;
}
.text-content p, .stack-text strong:last-child {
  font-size: 18px;
  color: #4F4F4F;
}
.stack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 40px auto;
}
.icons {
  color: #8456EC;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 30px;
}
.stack-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
}
.stack-text strong:first-of-type {
  color: #240D57;
}





@media (min-width: 992px) and (max-width: 1199px) {
  .image {
    max-width: 350px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image {
    max-width: 300px;
  }
  .text-content h2 {
    font-size: 58px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #container1, .event-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .text-container {
    grid-row: 1;
    text-align: center;
    margin-bottom: 20px;
  }
  .image {
    margin: auto;
    max-width: 250px;
  }
  .sm-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }

/* create page */
  .back, .submit, .next {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }


/* events page */
  .img {
    grid-row: 1;
    width: 100%;
    max-width: 100vw;
  }
  .event-container {
    margin: 0;
    width: 100%;
    max-width: 100vw;
  }
  .text-content h2 {
    font-size: 55px;
  }
  .text-content h2, .text-content p {
    margin-left: 30px;
    text-align: left;
  }
  .icons {
    margin-left: 50px;
    text-align: left;
  }
  
}


@media (max-width: 575px) {
  #container1, .event-container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 100px;
  }
  .one, .two, .three {
    font-size: 50px;
    line-height: 50px;
  }
  .text-container {
    grid-row: 1;
    text-align: center;
    margin-bottom: 20px;
  }
  .image {
    margin: auto;
    max-width: 250px;
  }
  .sm-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 20px auto;
  }
  

  /* create page */
  .back, .submit, .next {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  /* events page */
  .img {
    grid-row: 1;
    width: 100%;
    max-width: 100vw;
  }
  .event-container {
    margin: 0;
    width: 100%;
    max-width: 100vw;
  }
  .text-content h2 {
    font-size: 52px;
  }
  .text-content h2, .text-content p {
    margin-left: 10px;
    text-align: left;
  }
  .icons {
    margin-left: 30px;
    text-align: left;
  }
 
}

